.box4{
    font-family: 'FCIconic';
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 8px;
    /* text-align: center; */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-f0eff4);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    opacity: 1;
}

.steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding-top: 80px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
}
  
.steps-action {
    margin-top: 24px;
}

.style{
    background-color: #ff0000; 
    padding: '8px 0' ;
}