/* .backgroundDash{
    background-image: url("../img/Background.png");
    background-color: #F5F6FA;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.font {
    font-family: 'FCIconic';
    color:#2A2866 ;
  }
.box4{
    font-family: 'FCIconic';
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 8px;
    /* text-align: center; */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-f0eff4);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    opacity: 1;
}
.box-2{
    font-family: 'FCIconic';
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
    /* text-align: center; */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-f0eff4);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    opacity: 1;
}
.icon-style{
    /* right: 10px; */
    /* position: absolute; */
    /* display: flex; */
    justify-content: flex-end;
    /* margin: auto; */
    float: right;
    display: inline;
}

.set-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 50%;
    border-color: tomato; */
}

.text-center{
    text-align: center;
}