.App {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family:  'FCIconic';
}

.backgroundDetail{
  background-image: url("./img/Background.png");
  background-color: #F5F6FA;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
